################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64/Debug
/.vs
/Sea-Of-Thieves-External-ESP-v2.*
